@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');

html{
  background-color: #222222;
}
body{
  font-family: 'Julius Sans One', sans-serif;
  background-color: #ffffff;
  max-width: 850px;
  height: auto;
  margin: auto;
}
.input-bands{
  padding: 10px 20px;
}
.header{
  padding: 10px 20px;
  text-align: center;
  background-color: #444444;
  color: #1ED760;  
}
.header h1{
  font-weight: 900;
  font-size: 72px;
  margin: 10px 0;
}
.spotify-player-list{
  padding: 20px 20px;
  background-color: black;
}
.spotify-player-list h3{
  color: white;

}
#band-list{
  width: 80%;
  margin: auto;
}
.spotify-player-frame{
  width: 46%;
  min-width: 30%;
  margin: 1% 2%;
  background-color: #282828;
}
.track-list{
  transition: all 300ms ease-in-out;  
}
.spotify-login{
  text-align: center;
  margin: 20px;
}
.error-frame{
  display: inline-block;
  width: 46%;
  height: 80px;
  max-height: 80%;
  min-width: 30%;
  margin: 1% 2%;
  text-align: center;
  background-color: #282828;
  color: #1ED760;
  overflow: hidden;

}
.error-frame h5{
  background-color: #282828;
  line-height: 80px;
  margin: auto 10px;
  width: auto;
  margin: auto;
}